#{extends 'main.html' /} 
#{set title: 'Conheça a PowerFIT' /}
<meta charset="utf-8">

<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(/public/images/academia.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Sobre a PowerFIT</h1>
							<h2>QUALIDADE PARA VOCÊ FAZER DO SEU JEITO, NO SEU RITMO</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	
	<div id="fh5co-gallery">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<h2>INSPIRAR PESSOAS COM NOSSO TRABALHO E CONTRIBUIR PARA QUE REALIZEM SEUS PRÓPRIOS DESEJOS.</h2>
					<p>Esse é o propósito da PowerFIT, ser parte de algo realmente especial em sua vida: seus desejos! <br> Qualidade de vida, saúde, estética, lazer, bem-estar, longevidade são desejos e princípios que guiam a excelência do nosso trabalho. Todas as suas conquistas são nossa motivação, são nossa inspiração. </p>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row row-bottom-padded-md">
				<div class="col-md-12">
					<ul id="fh5co-portfolio-list">

						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(/public/images/determinacao.jpg); ">
							<a href="#">
								<div class="case-studies-summary">
									<h2>#Determinação</h2>
								</div>
							</a>
						</li>
						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(/public/images/galery002.jpg); ">
							<a>
								<div class="case-studies-summary">
									<h2>#Força</h2>
								</div>
							</a>
						</li>

						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(/public/images/motivacao.jpg); ">
							<a href="#">
								<div class="case-studies-summary">
									<h2>#Motivação</h2>
								</div>
							</a>
						</li>

						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(/public/images/estrutura.jpg); "> 
							<a href="#">
								<div class="case-studies-summary">
									<h2>#Estrutura</h2>
								</div>
							</a>
						</li>
					</ul>		
				</div>
			</div>
		</div>
	</div>
	<br>
	<hr>
	
		<div id="fh5co-services" class="fh5co-bg-section">
		<div class="container">
			<div class="row">
				<div class="col-md-4 text-center animate-box">
					<div class="services">
						<h3>Missão</h3>
						<p>Oferecer excelência em atendimento e prestação de serviços na orientação de atividades físicas para proporcionar qualidade de vida e bem estar aos nossos clientes, com profissionalismo, bom humor e ambiente acolhedor. </p>
					</div>
				</div>
				<div class="col-md-4 text-center animate-box">
					<div class="services">
						<h3>Visão</h3>
						<p>Ser referência na região em excelência de atendimento e qualidade dos serviços prestados, conquistar o entusiasmo de nossos clientes através da melhoria contínua, alcançada pelo trabalho em equipe e pela capacidade de inovar do Time PowerFIT. </p>

					</div>
				</div>
				<div class="col-md-4 text-center animate-box">
					<div class="services">
						<h3>Valores</h3>
						<p>Excelência no atendimento ao cliente acima de tudo;<br> Trabalho duro, ética, respeito, comprometimento e integridade; </p>
					</div>
				</div>
			</div>
		</div>
	</div>


